{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "loose": true,
      "modules": false
    }],
    "flow"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties"
  ]
}