{
  "presets": [
    "flow",
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-react-jsx-source"
      ]
    }
  }
}
